body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1520px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1520px;
  height:1028px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1520px;
  height:1028px;
  display:flex;
}
#u489 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1520px;
  height:64px;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1520px;
  height:64px;
  display:flex;
  opacity:0.92;
  color:rgba(51, 51, 51, 0.9921568627450981);
}
#u490 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1520px;
  height:124px;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:1520px;
  height:124px;
  display:flex;
  opacity:0.57;
  color:rgba(51, 51, 51, 0.9921568627450981);
}
#u491 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Fira Code Bold", "Fira Code", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:989px;
  width:219px;
  height:35px;
  display:flex;
  font-family:"Fira Code Bold", "Fira Code", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u492 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:46px;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:1442px;
  top:7px;
  width:55px;
  height:46px;
  display:flex;
  color:#FFFFFF;
}
#u493 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u493_img.mouseOver {
}
#u493.mouseOver {
}
#u493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Rounded MT Bold", "Arial Rounded MT", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:1445px;
  top:64px;
  width:52px;
  height:20px;
  display:flex;
  font-family:"Arial Rounded MT Bold", "Arial Rounded MT", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u494 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u494_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Rounded MT Bold", "Arial Rounded MT", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u494.mouseOver {
}
#u494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Rounded MT Bold", "Arial Rounded MT", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:1253px;
  top:64px;
  width:49px;
  height:20px;
  display:flex;
  font-family:"Arial Rounded MT Bold", "Arial Rounded MT", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u495 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u495_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Rounded MT Bold", "Arial Rounded MT", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u495.mouseOver {
}
#u495_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Rounded MT Bold", "Arial Rounded MT", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:64px;
  width:85px;
  height:20px;
  display:flex;
  font-family:"Arial Rounded MT Bold", "Arial Rounded MT", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u496 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u496_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Rounded MT Bold", "Arial Rounded MT", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u496.mouseOver {
}
#u496_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Rounded MT Bold", "Arial Rounded MT", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:1023px;
  top:64px;
  width:96px;
  height:20px;
  display:flex;
  font-family:"Arial Rounded MT Bold", "Arial Rounded MT", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u497 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u497_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Rounded MT Bold", "Arial Rounded MT", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u497.mouseOver {
}
#u497_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Rounded MT Bold", "Arial Rounded MT", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:64px;
  width:70px;
  height:20px;
  display:flex;
  font-family:"Arial Rounded MT Bold", "Arial Rounded MT", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u498 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u498_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Rounded MT Bold", "Arial Rounded MT", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u498.mouseOver {
}
#u498_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1516px;
  height:845px;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:126px;
  width:1516px;
  height:845px;
  display:flex;
  opacity:0.17;
}
#u499 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u499_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1530px;
  height:745px;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:211px;
  width:1520px;
  height:735px;
  display:flex;
  opacity:0.07;
}
#u500 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u500_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Fira Code Light", "Fira Code", sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:1378px;
  top:995px;
  width:128px;
  height:31px;
  display:flex;
  font-family:"Fira Code Light", "Fira Code", sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u501 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u501_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Fira Code Light", "Fira Code", sans-serif;
  font-weight:300;
  font-style:normal;
  color:#FFFFFF;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:1149px;
  top:993px;
  width:246px;
  height:35px;
  display:flex;
  font-family:"Fira Code Light", "Fira Code", sans-serif;
  font-weight:300;
  font-style:normal;
  color:#FFFFFF;
}
#u502 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u502_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:916px;
  width:10px;
  height:10px;
  display:flex;
}
#u503 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u503_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:916px;
  width:10px;
  height:10px;
  display:flex;
}
#u504 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:916px;
  width:10px;
  height:10px;
  display:flex;
}
#u505 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:916px;
  width:10px;
  height:10px;
  display:flex;
}
#u506 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:37px;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:1247px;
  top:12px;
  width:41px;
  height:37px;
  display:flex;
}
#u507 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:31px;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:985px;
  width:41px;
  height:31px;
  display:flex;
}
#u508 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:27px;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:985px;
  width:23px;
  height:27px;
  display:flex;
}
#u509 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u509_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:27px;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:989px;
  width:31px;
  height:27px;
  display:flex;
}
#u510 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u510_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:326px;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-148px;
  width:426px;
  height:326px;
  display:flex;
}
#u511 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u511_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:326px;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:481px;
  width:426px;
  height:326px;
  display:flex;
}
#u512 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u512_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u513_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:25px;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:1121px;
  top:993px;
  width:23px;
  height:25px;
  display:flex;
  color:#FFFFFF;
}
#u513 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u513_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u514_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1516px;
  height:838px;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:108px;
  width:1516px;
  height:838px;
  display:flex;
  opacity:0.28;
}
#u514 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u514_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:37px;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:1152px;
  top:12px;
  width:41px;
  height:37px;
  display:flex;
}
#u515 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u515_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:49px;
}
#u516 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:15px;
  width:50px;
  height:49px;
  display:flex;
}
#u516 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u516_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u517_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:37px;
}
#u517 {
  border-width:0px;
  position:absolute;
  left:1051px;
  top:15px;
  width:41px;
  height:37px;
  display:flex;
}
#u517 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u517_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:2px;
}
#u518 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:248px;
  width:403px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.06558954429979688deg);
  -moz-transform:rotate(-0.06558954429979688deg);
  -ms-transform:rotate(-0.06558954429979688deg);
  transform:rotate(-0.06558954429979688deg);
}
#u518 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u518_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u519_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:2px;
}
#u519 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:412px;
  width:252px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.13853597872405524deg);
  -moz-transform:rotate(-0.13853597872405524deg);
  -ms-transform:rotate(-0.13853597872405524deg);
  transform:rotate(-0.13853597872405524deg);
}
#u519 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u519_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u520_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:2px;
}
#u520 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:467px;
  width:252px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.13853597872405524deg);
  -moz-transform:rotate(-0.13853597872405524deg);
  -ms-transform:rotate(-0.13853597872405524deg);
  transform:rotate(-0.13853597872405524deg);
}
#u520 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u520_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u521_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:2px;
}
#u521 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:518px;
  width:252px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.13853597872405524deg);
  -moz-transform:rotate(-0.13853597872405524deg);
  -ms-transform:rotate(-0.13853597872405524deg);
  transform:rotate(-0.13853597872405524deg);
}
#u521 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u521_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u522_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:2px;
}
#u522 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:468px;
  width:252px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.13853597872405524deg);
  -moz-transform:rotate(-0.13853597872405524deg);
  -ms-transform:rotate(-0.13853597872405524deg);
  transform:rotate(-0.13853597872405524deg);
}
#u522 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u522_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u523_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:2px;
}
#u523 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:518px;
  width:252px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.13853597872405524deg);
  -moz-transform:rotate(-0.13853597872405524deg);
  -ms-transform:rotate(-0.13853597872405524deg);
  transform:rotate(-0.13853597872405524deg);
}
#u523 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u524_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Fira Code Bold", "Fira Code", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:rgba(128, 255, 255, 0.984313725490196);
}
#u524 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:404px;
  width:36px;
  height:20px;
  display:flex;
  font-family:"Fira Code Bold", "Fira Code", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:rgba(128, 255, 255, 0.984313725490196);
}
#u524 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u524_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Fira Code Bold", "Fira Code", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:rgba(128, 255, 255, 0.984313725490196);
}
#u525 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:452px;
  width:45px;
  height:20px;
  display:flex;
  font-family:"Fira Code Bold", "Fira Code", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:rgba(128, 255, 255, 0.984313725490196);
}
#u525 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u525_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Fira Code Bold", "Fira Code", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:rgba(128, 255, 255, 0.984313725490196);
}
#u526 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:502px;
  width:63px;
  height:20px;
  display:flex;
  font-family:"Fira Code Bold", "Fira Code", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:rgba(128, 255, 255, 0.984313725490196);
}
#u526 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u526_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Fira Code Bold", "Fira Code", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:rgba(128, 255, 255, 0.984313725490196);
}
#u527 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:552px;
  width:63px;
  height:20px;
  display:flex;
  font-family:"Fira Code Bold", "Fira Code", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:rgba(128, 255, 255, 0.984313725490196);
}
#u527 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u527_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Fira Code Bold", "Fira Code", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:rgba(128, 255, 255, 0.984313725490196);
}
#u528 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:449px;
  width:63px;
  height:20px;
  display:flex;
  font-family:"Fira Code Bold", "Fira Code", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:rgba(128, 255, 255, 0.984313725490196);
}
#u528 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u528_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Fira Code Bold", "Fira Code", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:rgba(128, 255, 255, 0.984313725490196);
}
#u529 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:502px;
  width:135px;
  height:20px;
  display:flex;
  font-family:"Fira Code Bold", "Fira Code", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:rgba(128, 255, 255, 0.984313725490196);
}
#u529 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u529_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Fira Code", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u530 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:211px;
  width:300px;
  height:35px;
  display:flex;
  font-family:"Fira Code", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u530 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u530_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Courier New", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u531 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:381px;
  width:252px;
  height:25px;
  display:flex;
  font-family:"Courier New", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u531 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u531_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Courier New", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u532 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:432px;
  width:252px;
  height:25px;
  display:flex;
  font-family:"Courier New", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u532 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Courier New", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u533 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:484px;
  width:252px;
  height:25px;
  display:flex;
  font-family:"Courier New", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u533 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u533_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:19px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u534 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:548px;
  width:64px;
  height:19px;
  display:flex;
}
#u534 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u534_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Courier New", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u535 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:548px;
  width:85px;
  height:25px;
  display:flex;
  font-family:"Courier New", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u535 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u535_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Courier New", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u536 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:434px;
  width:252px;
  height:25px;
  display:flex;
  font-family:"Courier New", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u536 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u536_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:2px;
}
#u537 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:413px;
  width:252px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.13853597872405524deg);
  -moz-transform:rotate(-0.13853597872405524deg);
  -ms-transform:rotate(-0.13853597872405524deg);
  transform:rotate(-0.13853597872405524deg);
}
#u537 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u537_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Fira Code Bold", "Fira Code", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:rgba(128, 255, 255, 0.984313725490196);
}
#u538 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:402px;
  width:72px;
  height:20px;
  display:flex;
  font-family:"Fira Code Bold", "Fira Code", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:rgba(128, 255, 255, 0.984313725490196);
}
#u538 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u538_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Courier New", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u539 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:388px;
  width:252px;
  height:25px;
  display:flex;
  font-family:"Courier New", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u539 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u539_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Courier New", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u540 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:484px;
  width:252px;
  height:25px;
  display:flex;
  font-family:"Courier New", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u540 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u540_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u541_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:716px;
  height:256px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u541 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:651px;
  width:716px;
  height:256px;
  display:flex;
}
#u541 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u541_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u542_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Courier New Bold", "Courier New", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#D7D7D7;
}
#u542 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:599px;
  width:97px;
  height:37px;
  display:flex;
  font-family:"Courier New Bold", "Courier New", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#D7D7D7;
}
#u542 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u542_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:201px;
}
#u543 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:137px;
  width:185px;
  height:201px;
  display:flex;
}
#u543 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u543_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u544_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:683px;
  height:227px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Courier New", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u544 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:669px;
  width:683px;
  height:227px;
  display:flex;
  font-family:"Courier New", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u544 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u544_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:51px;
}
#u545 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:856px;
  width:227px;
  height:51px;
  display:flex;
  font-family:"Courier New", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u545 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u545_img.mouseOver {
}
#u545.mouseOver {
}
#u545_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:51px;
}
#u546 {
  border-width:0px;
  position:absolute;
  left:1160px;
  top:856px;
  width:227px;
  height:51px;
  display:flex;
  font-family:"Courier New", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u546 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u546_img.mouseOver {
}
#u546.mouseOver {
}
#u546_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
}
#u547 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:122px;
  width:75px;
  height:17px;
  display:flex;
  font-family:"Courier New", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u547 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u547_img.mouseOver {
}
#u547.mouseOver {
}
#u547_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Rounded MT Bold", "Arial Rounded MT", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u548 {
  border-width:0px;
  position:absolute;
  left:1349px;
  top:68px;
  width:72px;
  height:22px;
  display:flex;
  font-family:"Arial Rounded MT Bold", "Arial Rounded MT", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u548 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u548_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Rounded MT Bold", "Arial Rounded MT", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u548.mouseOver {
}
#u548_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:46px;
}
#u549 {
  border-width:0px;
  position:absolute;
  left:1347px;
  top:12px;
  width:58px;
  height:46px;
  display:flex;
}
#u549 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u549_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
